<!----------upload student image popup (usipp)---------->
<div class="popup" id="usipp">
    
    <div class="popupContent" id="usippContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-solid fa-user"></i></div>
            <div class="popupClose1" id="usippClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="popupSubtitle1 mbs" id="usippTitle"></div>
        <div class="popupSubtitle1 mbl" id="usippTitle2">Foto de perfil</div>
        
        <div class="divInputsColumn entryDataUpload">
            <input type="file" name="image" id="image" class="">
        </div>        
        <div class="isError" id="usippError"></div>

        <div class="divButtonsRow mtl mbs">
            <div id="usippAccept" class="btn1 bm">Guardar</div>
        </div>

    </div>

</div>

<!----------Create user OK---------->
<div class="okPopup" id="usippOk">    
    <div class="okContent" id="usippOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText">Imagen guardada con éxito</div>
        </div>
    </div>
</div>