<div class="popup" id="arpp">
    
    <div class="popupContent" id="arppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-solid fa-info"></i></div>
            <div class="popupClose2" id="arppClose"><i class="fa-solid fa-rectangle-xmark popupCloseIcon"></i></div>
        </div>

        <div class="popupTitle1 mtm mbxs" id="arppMainTitle"></div>
        <div class="popupSubtitle1 mbm" id="arppSubtitle">Formularios asociados</div>

        <div id="arppNoAssociatedForms">
            Sin formularios asociados
        </div>

        <div class="divTable" id="arppTable">
            <table>
                <thead>
                    <tr>
                        <th class="thCss2 fsm thxl">Curso</th>
                        <th class="thCss2 fsm ths">Fecha</th>
                        <th class="thCss2 fsm ths">Nota</th>
                        <th class="thCss2 fsm thxl">Observaciones</th>
                    </tr>
                </thead>
                <tbody id="arppBody"></tbody>
            </table>
        </div>

        <div class="divButtonsRow mtl mbs">
            <div id="arppCancel" class="btn1 bm">Cerrar</div>
        </div>

    </div>
</div>