/*POPUPS*/
/* entryData.ejs --> uipp
/* studentsResults.ejs --> arpp, usipp

/*-----------------------entryData.ejs-----------------------*/
/*upload image popup (uipp)*/
#uippContent{
    top: 25%;
    width: 400px;
    left: calc(50vw - 215px);
}

/*-----------------------studentsResults.ejs-----------------------*/
/*associated results popup (arpp)*/
#arppContent{
    top: 25%;
    width: 800px;
    left: calc(59vw - 410px);
}

/*upload student image popup (usipp)*/
#usippContent{
    top: 25%;
    width: 400px;
    left: calc(59vw - 215px);
}

#usippOkContent{
    width: 300px;
    top: 42%;
    left: calc(59vw - 165px);
}