<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/acec93ee08.js" crossorigin="anonymous"></script>
    
    
    <link rel="icon" type="image/jpg" href="/images/favicon.jpg"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/certificates.css">
    <link rel="stylesheet" href="/css/credentials.css">
    <link rel="stylesheet" href="/css/createCourse.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/viewForms.css">
    <link rel="stylesheet" href="/css/studentsResults.css">

    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/display.css">
    <link rel="stylesheet" href="/css/generals.css">
    <link rel="stylesheet" href="/css/inputs.css">
    <link rel="stylesheet" href="/css/popups.css">
    <link rel="stylesheet" href="/css/popupsIds.css">
    <link rel="stylesheet" href="/css/tables.css">
    <link rel="stylesheet" href="/css/tablesIds.css">
    <link rel="stylesheet" href="/css/styles/entryData.css">
    <link rel="stylesheet" href="/css/styles/studentsResults.css">

    <!---Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <!---Alertify-->
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>

    <title><%= title %></title>
</head>
