<!----------ok popup---------->
<div class="result-pp ok-pp" id="okPopup">
    <div class="r-pp-content">
        <div class="r-pp-icon"><i class="fa-regular fa-circle-check"></i></div>
        <div id="okText"></div>
    </div>
</div>

<!----------error popup---------->
<div class="result-pp error-pp" id="errorPopup">
    <div class="r-pp-content">
        <div class="r-pp-icon"><i class="fa-regular fa-circle-xmark"></i></div>
        <div id="errorText"></div>
    </div>
</div>

<!----------alert popup---------->
<div class="result-pp alert-pp" id="alertPopup">
    <div class="r-pp-content">
        <div class="r-pp-icon"><i class="fa-solid fa-triangle-exclamation"></i></div>
        <div id="alertText"></div>
    </div>
</div>